[submodule "SoulsFormats"]
	path = SoulsFormats
	url = https://github.com/Nordgaren/SoulsFormats.git
[submodule "SoulsAssetPipeline"]
	path = SoulsAssetPipeline
	url = https://github.com/Meowmaritus/SoulsAssetPipeline.git
